# Docker volumes & runtime data
docker/gmod-data/
docker/mysql-data/
*.log

# DarkRP source (installed via Workshop/git, not tracked)
docker/addons/darkrp/
docker/gamemodes/darkrp/

# Client download cache (already in addon)
docker/download/

# Sauvegardes
backups/

# Fichiers temporaires
*.tmp
*.swp
.DS_Store

# Secrets
*.env
passwords.txt

# Références internes
references/

# Binaires
docker/lua-bin/*.dll

# Screenshots dev
screenshots/
.gitlab-ci.yml
